@charset "utf-8";
.topbox{
	z-index: 3;
	width:100%;
	height:135px;
	position: fixed;
	top:0;
}
/*header*/
header{
	width:100%;
	height:93px;
	background-color: #333333;
}
header h2{
	font-size: 11px;
	color:#d7d7d7;
	height:33px;
	float: left;
	text-align: center;
	line-height: 33px
}
header h2 .a1{
	height:33px;
	display: block;
	font-size: 11px;
	color:#d7d7d7;
}
header .h21{
	width:54px;
	margin-left:36px;
}
header .h22{
	position: relative;
	width:89px;
}
header .h22 span{
	color:#f78417;
}
header .h22:hover a{
	background-color:#ffffff;
	color:#d90532;
}
header .h22 .gwd{
	text-align: left;
	line-height: 65px;
	display: none;
	position: absolute;
	left: -93px;
	width:296px;
	height:65px;
	background-color:#ffffff;
	color:#461e6d;
	font-size:11px;
}
header .h22:hover .gwd{
	display: block;
}
header .h23{
	position: relative;
	width:73px;
}
header .h23:hover .a1{
	background-color:#ffffff;
	color:#d90532;
}
header .h23 ol{
	width:73px;
	display: none;
}
header .h23:hover ol{
	background-color: #ffffff;
	position:absolute;
	display:block;
	top:22px;
}
header .h23 ol a:hover{
	color:#d90532;
}
header div{
	float: left;
	width:547px;
	height:93px;
	margin-left:93px;
}	
header div ol li{
	text-align: center;
	width:60px;
	height:26px;
	float: left;
	margin-right:15px;
}
header div ol .last{
	width:80px;
}
header div ol li a{
	display: block;
	height:26px;
	color:#eeeeee;
	font-size:13px; 
}
header div ol li a:hover{
	color:#bfbfbf;
	border-bottom:2px solid #727071;
}
header form{
	width:261px;
	height:26px;
	float: right;
	margin:10px 31px 0 0;
	border:1px solid #787878;
}
header form input{
	float: left;
	line-height: 26px;
	font-size: 12px;
	background-color: #333333;
	color:#787878;
	border:0;
}
header form button{
	line-height: 26px;
	float: right;
	background-color: #333333;
	border:0;
	color:#646464;
}
header form button:hover{
	color:#bfbfbf;
}
/*nav*/
nav{
	width:100%;
	height:42px;
	background-color: #f7f7f7;
}
nav ul{
	line-height: 42px;
	width:696px;
	height:42px;
	margin:0 auto;
}
nav ul li{
	width:50px;
	height:42px;
	text-align: center;
	float: left;
	margin-right:30px;
}
nav .bz{
	position: absolute;
	left:284px;
	z-index: 1;
	display: none;
	width:745px;
	height:282px;
	background-color:#ffffff;
	border:1px solid #d7d7d7;
	border-top:0;
}
nav .bz .box1 dl:nth-child(1) a:hover{
	color:#ff0000;
}
nav .bz .box1 dl:nth-child(2) a:hover{
	color:#ff0000;
}
nav .bz .box1 dl:nth-child(3) a:hover{
	color:#ff0000;
}
nav .bz .box1 dl:nth-child(4) a:hover{
	color:#ff0000;
}
nav .bz .box1{
	width:450px;
	height:282px;
	margin-left:15px;
	float: left;
}
nav .bz .box1 dl:nth-child(1){
	width:450px;
	height:75px;
	border-bottom:1px dashed #959696;
}
nav .bz .box1 dl:nth-child(1) dt{
	width:48px;
	height:38px;
	line-height: 38px;
}
nav .bz .box1 dl:nth-child(1) dt a{
	font-size:11px;
	font-weight: 900;
	color:#000000;
}
nav .bz .box1 dl:nth-child(1) dd{
	text-align: left;
	width:300px;
	height:30px;
}
nav .bz .box1 dl:nth-child(1) dd a{
	text-align: center;
	float: left;
	display: block;
	width:50px;
	height:15px;
	font-size:11px;
	color:#000000;
}
nav .bz .box1 dl:nth-child(2){
	width:450px;
	height:69px;
	border-bottom:1px dashed #959696;
}
nav .bz .box1 dl:nth-child(2) dt{
	width:48px;
	height:32px;
	line-height: 32px;
}
nav .bz .box1 dl:nth-child(2) dt a{
	font-size:11px;
	font-weight: 900;
	color:#000000;
}
nav .bz .box1 dl:nth-child(2) dd{
	text-align: left;
	width:250px;
	height:30px;
}
nav .bz .box1 dl:nth-child(2) dd a{
	text-align: center;
	float: left;
	display: block;
	width:50px;
	height:15px;
	font-size:11px;
	color:#000000;
}
nav .bz .box1 dl:nth-child(3){
	width:450px;
	height:51px;
	border-bottom:1px dashed #959696;
}
nav .bz .box1 dl:nth-child(3) dt{
	width:48px;
	height:32px;
	line-height: 32px;
}
nav .bz .box1 dl:nth-child(3) dt a{
	font-size:11px;
	font-weight: 900;
	color:#000000;
}
nav .bz .box1 dl:nth-child(3) dd{
	text-align: left;
	width:400px;
	height:12px;
}
nav .bz .box1 dl:nth-child(3) dd a{
	text-align: center;
	float: left;
	display: block;
	width:50px;
	height:12px;
	font-size:11px;
	color:#000000;
}
nav .bz .box1 dl:nth-child(4){
	width:450px;
	height:84px;
	border-bottom:1px dashed #959696;
}
nav .bz .box1 dl:nth-child(4) dt{
	width:48px;
	height:32px;
	line-height: 32px;
}
nav .bz .box1 dl:nth-child(4) dt a{
	font-size:11px;
	font-weight: 900;
	color:#000000;
}
nav .bz .box1 dl:nth-child(4) dd{
	text-align: left;
	width:215px;
	height:12px;
}
nav .bz .box1 dl:nth-child(4) dd a{
	text-align: center;
	float: left;
	display: block;
	width:50px;
	height:12px;
	font-size:11px;
	color:#000000;
}
nav .bz .box2{
	width:280px;
	height:282px;
	float: left;
}
nav .bz .box2 p{
	font-size: 12px;
	font-weight: 900;
	width:245px;
	height:37px;
	margin-left:35px;
	line-height: 37px;
}
nav .bz .box2 dl{
	line-height:17px;
	width:245px;
	height:18px;
	margin-left: 35px;
}
nav .bz .box2 dl a{
	font-size: 12px;
	color:#000000;
}
nav .bz .box2 dl dt{
	float: left;
	width:110px;
}
nav .bz .box2 dl dd{
	float: left;
}
nav .bz .box2 dl a:hover{
	color:#ff0000;
}
nav ul .last{
	margin:0;
}
nav ul li a{
	display: block;
	width:48px;
	height:40px;
	color:#00001e;
	font-size:12px;
}
nav ul li a:hover{
	background-color: #ffffff;
	border:1px solid #ccc;
	border-bottom: 0;
}
/*bigbox*/
.bigbox{
	width:100%;
	height:3500px;
	margin-top:150px;
	background-color:#ffffff;
}
.bigbox .content{
	width:1000px;
	height:302px;
	/*height:380px;*/
	margin:11px auto;
}
.bigbox .content .box1{
	width:1000px;
	height:60px;
}
.bigbox .content .box2{
	width:1000px;
	height:49px;
	background-color:#ffffff;
}
.bigbox .content .box2 h2{
	margin-top:10px;
	line-height: 27px;
	height:27px;
	width:70px;
	float: left;
	font-size:11px;
	color:#000000;
}
.bigbox .content .box2 span{
	color:#fc951e;
	font-size:11px;
}
.bigbox .content .box2 p{
	margin-top:10px;
	line-height: 27px;
	height:27px;
	width:12px;
	font-size:14px;
	float: left;
}
.bigbox .content .box2 a{
	color:#00579d;
	font-size:11px;
	display: block;
	float: left;
	line-height: 27px;
	height:27px;
	margin-top:10px;
}
.bigbox .content .box2 .a1{
	width:50px;
}
.bigbox .content .box2 .a2{
	text-align: center;
	width:45px;
}
.bigbox .content .box2 .a2:hover{
	border:1px solid #eb7410;
	border-bottom: 0;
}
.bigbox .content .box3{
	width:998px;
	/*height:228px;*/
	height:140px;
	border:1px solid #dfdfdf;
}
.bigbox .content .box3 .cbox1{
	width:996px;
	height:41px;
	border:1px solid #cccccc;
}
.bigbox .content .box3 .cbox1 p{
	line-height: 41px;
	float: left;
	text-align: center;
	font-size: 11px;
	width:76px;
	height:41px;
	background: #f9f9f9;
}
.bigbox .content .box3 .cbox1 ol{
	float: left;
	width:920px;
	height:41px;
}
.bigbox .content .box3 .cbox1 ol li{
	line-height: 22px;
	text-align: center;
	float: left;
	width:65px;
	height:22px;
	margin-top:9px;
}
.bigbox .content .box3 .cbox1 ol li a{
	width:45px;
	display: block;
	height:22px;
	margin:0 auto;
	font-size: 11px;
	color:#6e6c6d;
}
.bigbox .content .box3 .cbox1 ol li a:hover{
	background:#eb7410; 
	color:#ffffff;
}
.bigbox .content .box3 .cbox2{
	display: none;
	width:998px;
	height:39px;
	border-top:1px solid #cccccc;
}
.bigbox .content .box3 .cbox2 p{
	line-height: 39px;
	float: left;
	text-align: center;
	font-size: 11px;
	width:76px;
	height:39px;
	background: #f9f9f9;
}
.bigbox .content .box3 .cbox2 ol{
	background: #efefef;
	float: left;
	width:922px;
	height:39px;
}
.bigbox .content .box3 .cbox2 ol li{
	line-height: 22px;
	text-align: center;
	float: left;
	width:65px;
	height:22px;
	margin-top:9px;
}
.bigbox .content .box3 .cbox2 ol li a{
	width:45px;
	display: block;
	height:22px;
	margin:0 auto;
	font-size: 11px;
	color:#6e6c6d;
}
.bigbox .content .box3 .cbox2 ol li a:hover{
	background:#eb7410; 
	color:#ffffff;
}
.bigbox .content .box3 .cbox3{
	display: none;
	width:998px;
	height:45px;
	border-top:1px solid #cccccc;
}
.bigbox .content .box3 .cbox3 p{
	line-height: 45px;
	float: left;
	text-align: center;
	font-size: 11px;
	width:76px;
	height:45px;
	background: #f9f9f9;
}
.bigbox .content .box3 .cbox3 ol{
	float: left;
	width:920px;
	height:45px;
}
.bigbox .content .box3 .cbox3 ol li{
	line-height: 22px;
	text-align: center;
	float: left;
	width:65px;
	height:22px;
	margin-top:9px;
}
.bigbox .content .box3 .cbox3 ol li a{
	width:45px;
	display: block;
	height:22px;
	margin:0 auto;
	font-size: 11px;
	color:#6e6c6d;
}
.bigbox .content .box3 .cbox3 ol li a:hover{
	background:#eb7410; 
	color:#ffffff;
}
.bigbox .content .box3 .cbox4{
	width:998px;
	height:45px;
	border-top:1px solid #cccccc;
}
.bigbox .content .box3 .cbox4 p{
	line-height: 45px;
	float: left;
	text-align: center;
	font-size: 11px;
	width:76px;
	height:45px;
	background: #f9f9f9;
}
.bigbox .content .box3 .cbox4 ol{
	float: left;
	width:920px;
	height:45px;
}
.bigbox .content .box3 .cbox4 ol li{
	line-height: 22px;
	text-align: center;
	float: left;
	width:70px;
	height:22px;
	margin-top:9px;
}
.bigbox .content .box3 .cbox4 ol li a{
	width:60px;
	display: block;
	height:22px;
	margin:0 auto;
	font-size: 11px;
	color:#6e6c6d;
}
.bigbox .content .box3 .cbox4 ol li a:hover{
	background:#eb7410; 
	color:#ffffff;
}
.bigbox .content .box3 .cbox5{
	width:998px;
	height:52px;
	background: #efefef;
	border-top:1px solid #cccccc;
}
.bigbox .content .box3 .cbox5 p{
	line-height: 52px;
	float: left;
	text-align: center;
	font-size: 11px;
	width:76px;
	height:52px;
	background: #f9f9f9;
}
.bigbox .content .box3 .cbox5 ol{
	float: left;
	width:920px;
	height:52px;
}
.bigbox .content .box3 .cbox5 ol li{
	line-height: 22px;
	text-align: center;
	float: left;
	width:70px;
	height:22px;
	margin-top:15px;
}
.bigbox .content .box3 .cbox5 ol li a{
	width:60px;
	display: block;
	height:22px;
	margin:0 auto;
	font-size: 11px;
	color:#6e6c6d;
}
.bigbox .content .box3 .cbox5 ol li a:hover{
	background:#eb7410; 
	color:#ffffff;
}
.bigbox .content .box4{
	line-height: 25px;
	text-align: center;
	font-size: 11px;
	color:#a27e8e;
	width:273px;
	height:25px;
	margin:0 auto;
	border:1px solid #cccccc;
	border-top:0;
	background-color:#efefef;
	border-radius:0 0 10px 10px;
}
.bigbox .content .box4 a{
	display: block;
	font-size: 11px;
	color:#a27e8e;
	width:273px;
	height:25px;
}
/*section*/
section{
	height:3187px;
	width:1000px;
	margin:0 auto;
}
section .box1{
	background: #f3f3f3;
	width:998px;
	height:37px;
	border-top:2px solid #ff6602;
	border-left:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
}
section .box1 ol{
	float:left;
	line-height: 20px;
	text-align: center;
	width:255px;
	height:20px;
	border:1px solid #a3a3a3;
	margin:8px 0 0 20px;
}
section .box1 ol li{
	float: left;
	width:63px;
	height:20px;
	border-right:1px solid #a3a3a3;
}
section .box1 ol .last{
	width:63px;
	border:0;
}
section .box1 ol li a{
	font-size:11px;
	color:#1f0047;
}
section .box1 ol li .a1{
	color:#ff661d;
}
section .box1 ol li a:hover{
	color:#ff661d;
}
section .box1 ul{
	float: left;
	width:240px;
	height:20px;
	margin:10px 0 0 27px;
}
section .box1 ul li{
	line-height: 20px;
	font-size:11px;
	width:65px;
	height:20px;
	float: left;
}
section .box1 ul .li1{
	width:42px;
}
#section_box2{
	position: relative;
	width:1000px;
	height:3150px;
	margin-top:23px;
}
#section_box2 div{
	border:1px solid #b8b8b8;
	float: left;
	margin:20px 0 0 18px;
	position: relative;
	width:230px;
	height:394px;
}
#section_box2 div:hover p{
	display: none;
}
#section_box2 div:hover dl{
	display: block;
	opacity: 0.5;
}
#section_box2 div img{
	width:230px;
	height:312px;
}
#section_box2 div p{
	z-index: 1;
	line-height: 23px;
	font-size:12px;
	color:#ac3642;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 82px;
	width:230px;
	height:23px;
	border:1px solid #dadada;
}
#section_box2 div ul{
	position: relative;
	z-index: 2;
	width:230px;
	height:82px;
}
#section_box2 div ul li{
	text-indent: 10px;
	line-height: 40px;
	width:230px;
	height:20px;
	font-size:12px;
	color:#504f4d;
}
#section_box2 div ul li:nth-child(2) a{
	font-size:12px;
	color:#504f4d;
}
#section_box2 div ul li:nth-child(2) a:hover{
	color:#fc951e;
}
#section_box2 div ul li:nth-child(3){
	font-size:15px;
	color:#d80c18;
}
#section_box2 div ul li:nth-child(3) span{
	font-size:12px;
	color:#a2a2a2;
	text-decoration:line-through;
	margin-left:10px;
}
#section_box2 div dl{
	border-bottom:1px solid #b8b8b8;
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	bottom:82px;
	width:230px;
	height:68px;
	background: #fbf9fd;
}
#section_box2 div dl dt{
	line-height: 24px;
	text-indent: 10px;
	width:230px;
	height:24px;
	font-size:11px;
	color:#747474;
}
#section_box2 div dl dd{
	text-align: center;
	line-height: 22px;
	margin-left:10px;
	width:36px;
	height:22px;
	border:1px solid #afafaf;
}
#section_box2 div dl dd a{
	display: block;
	width:36px;
	height:22px;
	font-size:12px;
	color:#69468b;
}
#section_box2 .box2{
	border:0;
	position: absolute;
	left:0;
	bottom:150px;
	width:1000px;
	height:24px;
}
#section_box2 .box2 a{
	line-height: 22px;
	text-align: center;
	font-size:12px;
	color:#2f002f;
	margin-right:10px;
	float: left;
	display: block;
	height:22px;
	width:44px;
	border:1px solid #b8b8b8;
}
#section_box2 .box2 .one{
	margin-left:200px;
}
#section_box2 .box2 a:hover{
	color:#ff7900;
	border:1px solid #ff7900;
}
#section_box2 .box3{
	border:0;
	position: absolute;
	left:0;
	bottom:15px;
	height:90px;
	width:1000px;
	background: #f6f6f6;
}
#section_box2 .box3 form{
	width:1000px;
	height:40px;
	margin-top:25px;
}
#section_box2 .box3 form .txt{
	float: left;
	width:477px;
	height:38px;
	border:0;
	border:1px solid #ea7515;
	margin-left:220px;
}
#section_box2 .box3 form .btn{
	border:0;
	float: left;
	width:82px;
	height:40px;
	background:#ea7515; 
}
/*footer1*/
.footer1{
	width:100%;
	position: relative;
	height:190px;
	background-color:#f2f2f2;
	border-top:3px solid #9a9a9a;
}
.footer1 .box1{
	width:157px;
	height:117px;
	margin:31px 0 0 32px;
	float: left;
}
.footer1 .box1 .p1{
	width:112px;
	height:21px;
}
.footer1 .box1 .p1 a{
	font-size: 18px;
	color:#1a1a1a;
}
.footer1 .box1 .p2{
	width:157px;
	height:25px;
	margin-top:27px;
	font-size: 18px;
	color:#1a1a1a;
}
.footer1 .box1 .p2 span{
	font-size:9px;
}
.footer1 .box1 .p3{
	width:112px;
	height:18px;
	margin-top:23px;
	font-size: 18px;
	color:#1a1a1a;
}
.footer1 .box1 .p3 a{
	font-size: 18px;
	color:#1a1a1a;
}
.footer1 .box2{
	width:57px;
	height:142px;
	float: left;
	margin:36px 0 0 125px;
	text-align: center;
	line-height: 22px;

}
.footer1 .box2 ol li a{
	color:#604c60;
	font-size:12px;
}
#footer1_box2_div{
	display: none;
	position: absolute;
	top:70px;
	left:372px;
	width:207px;
	height:118px;
	background-color:#707070;
	text-align: center;
	font-size: 12px;
	color:#ffffff;
	line-height:30px;
}
.footer1 .box3{
	width:253px;
	height:118px;
	float: left;
	margin:39px 0 0 204px;
}
.footer1 .box3 fieldset{
	border:0;
	border-top:1px solid #808080;
	font-size: 17px;
	color:#111111;	
}
.footer1 .box3 fieldset legend{
	margin-left:90px;
}
.footer1 .box3 fieldset div{
	width:253px;
	height:22px;
	margin-top:25px;
}
.footer1 .box3 fieldset div a p{
	float: left;
	margin-right:55px;
	font-size: 22px;
}
.footer1 .box3 fieldset div a:hover p{
	color:orange;
}
.footer1 .box3 fieldset div a .last{
	margin:0;
}
.footer1 .box3 fieldset form{
	width:251px;
	height:28px;
	border:1px solid #333333;
	margin-top:24px;
}
.footer1 .box3 fieldset form input{
	float: left;
	width:222px;
	height:28px;
	border:0;
	background-color: #faf6f5;
}
.footer1 .box3 fieldset form button{
	border:0;
	float: left;
	width:29px;
	height:28px;
	font-size:28px;
	color:white;
	background-color: #333333;
	text-indent: -7px;
	text-align: center;
	line-height: 28px;
}
#footer1_box3_div{
	display: none;
	line-height: 120px;
	text-align: center;
	position: absolute;
	left:450px;
	top:63px;
	width:120px;
	height:120px;
	background-color:#ffffff;
	font-size: 120px;

}
.footer1 dl{
	width:96px;
	height:111px;
	float:right;
	margin-top:39px;
}
.footer1 dl dt{
	width:96px;
	height:15px;
	font-size:15px;
	color:#732d11;
}
.footer1 dl dd{
	width:80px;
	height:85px;
	margin:11px 0 0 2px;
	font-size:80px;
	background-color: white;
	text-align: center;
	line-height: 85px;
}
/*footer2*/
.footer2{
	width:100%;
	overflow: hidden;
	height:87px;
	background-color: #ffffff;
}
.footer2 ul{
	line-height: 12px;
	width:707px;
	height:12px;
	margin:26px 0 0 274px;
}
.footer2 ul li a{
	font-size: 12px;
	color:#2f2f8f;
}
.footer2 ul li{
	text-align: center;
	float: left;
	width:68px;
	height:12px;
	border-right:3px solid #d5ccd5;
}
.footer2 ul li a:hover{
	color:orange;
}
.footer2 ul .last{
	border:0;
}
.footer2 .cbox{
	width:740px;
	height:12px;
	margin:22px 0 0 308px;
}
.footer2 p{
	float: left;
	font-size: 12px
}
.footer2 img{
	float: left;
}
/*rightbox*/
.rightbox{
	width:67px;
	height:258px;
	position: fixed;
	top:224px;
	right:0;
	border:1px solid #dfddde;
}
.rightbox div{
	font-size: 12px;
	color:#ff0000;
	line-height: 30px;
	text-align: center;
	display: block;
	width:67px;
	height:30px;
	border-bottom:1px solid #dddddd;
}
.rightbox div:hover{
	background: #a80606;
	color:#ffffff;
}
.rightbox  dl{
	text-align: center;
	width:67px;
	height:56px;
	border-bottom:1px solid #dddddd;
}
.rightbox  dl a dd{
	color:#3e3e3e;
	font-size: 12px;
}
.rightbox  dl a dt{
	color:#acacac;
	font-size: 26px;
}
.rightbox  dl:hover{
	background:#fc9c1f;
}
.rightbox dl:hover a dt{
	color:#ffffff;
}
.rightbox dl:hover a dd{
	color:#ffffff;
}
.rightbox b{
	color:#ffffff;
	text-align: center;
	line-height: 20px;
	display: block;
	font-weight: 500;
	position: absolute;
	top:92px;
	right:9px;
	width:20px;
	height:20px;
	background:#d1242e;
	border-radius:50%; 
}